@{
  Layout = "~/_Main.cshtml";
}

<h1>Round 1 - The Terminal Show (Dario) VS Wastetown Rendskins (Matt)</h1>
<h2>1-3</h2>

<h3>Report</h3>
<p>
    After a short opening ceremony the eagerly awaited opening game between two veteran heavyweight* coaches kicked off, the Wastetown Rendskins choosing to receive against the Terminal Show. Unsurprisingly, the rats were comfortable to set up a cage quickly and manoeuvred into the middle of the pitch before thrower Jo Thighsmangler showed unexpected agility to spin out of a tackle and hand off to Mungk the Ancient who raced away for the opening score. The Show hit back, literally, Alf Panzermann decking Russet Grimclaw who will miss the rats' next game under the league's concussion protocols. The black tide flowed forward but some desperate scrambling defence kept them out of the endzone and the Rendskins kept their lead at the half.
</p>
<p>
    Showing a flagrant disregard for the rules two Gutter Runners blitzed into the humies' half before the opening kick of the second half and the Show never really recovered their poise, Mungk showing good technique to bag his second score. The rats' inherent flimsiness was starting to tell though and as the humans stampeded forwards Rein 'The Boot' Benson showed how he got his nickname as he trampled over Deezel Rigens, leaving him in a stupor that will see him out next week. Mad 'Arry smuggled the ball over the line after ridding himself of Darel Greenfang. As time ticked down and tension mounted both teams made unforced errors, Thighsmangler fumbling before Panzermann took Mungk too lightly and Alvinga Rat dropping a pinpoint pass when open. 'Tall' Paul swooped in to throw a final desperate pass to 'Arry but he couldn't hold on and Mungk seized on the opportunity to sneak in and throw a speculative pass to Rat in the endzone who made no mistake second time around.
</p>
<p>
    Both teams can take pros and cons from this game, the Rendskins triple threat of Mungk, Greenfang and Rat will give many defences nightmares, but three serious injuries will reduce their options for their next game. The Show will take solace that they can go toe to toe with anyone and if they perform the basics well in the trenches will be a force to be reckoned with. Wastetown now await the Denva Brontos, while Terminal will be spying out their next opponents We Got Wood at the weekend.
</p>
<p>
    *old and fat
</p>