@model dynamic

@{
    ViewBag.Title = "Matches";
    Layout = "~/Layouts/_Main.cshtml";
}

<h1>Matches</h1>

<h2>Round 1</h2>
<table class="table">
    <tbody>
        <tr>
            <td>We Got Wood (Tris)</td>
            <td>VS</td>
            <td>Rumpled Midget Skins (Jon)</td>
            <td>2 - 2</td>
            <td>@*<a href="~/Matches/r1g1.cshtml">Report</a>*@</td>
        </tr>
        <tr>
            <td>? (Paul)</td>
            <td>VS</td>
            <td>? (Glauco)</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Denva Brontos (Tom)</td>
            <td>VS</td>
            <td>High and Mighty (Pete)</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>The Terminal Show (Dario)</td>
            <td>VS</td>
            <td>Wastetown Rendskins (Matt)</td>
            <td>1 - 3</td>
            <td><a href="~/Matches/r1g4">Report</a></td>
        </tr>
    </tbody>
</table>