@model dynamic

@{
    ViewBag.Title = "Matches";
    Layout = "~/Layouts/_Main.cshtml";
}

<h1>Round 1 - We Got Wood (Tris) VS Rumpled Midget Skins (Jon)</h1>
<h2>2-2</h2>

<h3>Report</h3>
<p>
    Coming soon
</p>