@model BloodbowlLeague.Mvc.Models.NewTeamViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Layouts/_Main.cshtml";
}

<h1>New Team</h1>

<label>Name</label>
@Html.EditorFor( m => m.Name )

<label>Race</label>
@Html.DropDownListFor( m => m.Race, Model.AvailableRaces.Select( r => new SelectListItem { Text = r, Value = r } ) )