@model dynamic

@{
    ViewBag.Title = "Teams";
    Layout = "~/Views/Layouts/_Main.cshtml";
}

<h1>Teams</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Coach</th>
            <th>Race</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>High and Mighty</td>
            <td>Pete</td>
            <td>High Elves</td>
        </tr>
        <tr>
            <td>We got Wood</td>
            <td>Tris</td>
            <td>Wood Elves</td>
        </tr>
        <tr>
            <td>Rumpled Midget Skins</td>
            <td>Jon</td>
            <td>Dwarfs</td>
        </tr>
        <tr>
            <td>Denva Brontos</td>
            <td>Tom</td>
            <td>?</td>
        </tr>
        <tr>
            <td>Wastetown Rendskins</td>
            <td>Matt</td>
            <td>?</td>
        </tr>
        <tr>
            <td>The Terminal Show</td>
            <td>Dario</td>
            <td>?</td>
        </tr>
        <tr>
            <td>?</td>
            <td>Glauco</td>
            <td>?</td>
        </tr>
        <tr>
            <td>?</td>
            <td>Paul</td>
            <td>?</td>
        </tr>
    </tbody>
</table>