<!DOCTYPE html>
<html lang="en">
<head>
    <title>Coventry Bloodbowl League</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Styles/Default.css">
</head> 
<body>
    <div class="container">
        <div class="row text-center">
            <img src="~/Images/Header.jpg" style="max-width: 100%" />
        </div>

        <div class="navbar">
            <div class="navbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="~/Teams.cshtml">Teams</a></li>
                    <li class="active"><a href="~/Matches.cshtml">Matches</a></li>
                </ul>
            </div>
        </div>

        @RenderBody()
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
