@{
    Layout = "~/_Main.cshtml";
}


<p>
    Welcome to the Coventry Bloodbowl League website
</p>
<p>
    When I get roudn to it this will have a "news" style update bit... for now it's pretty empty ;)
</p>